{% extends 'layout' %}
{% block main %}
<body>
  <section id="home">
    <div id="home-slider">
      <div class="slide-item">
        <img src="/img/boomfit.jpg" alt="">
        <div class="slide-wrap">
          <div class="slide-content">
            <div class="container">
              <h1 class="">Equipe o seu<br>estúdio ou ginásio!</h1>
              <h4>Conheça as nossas facilidades de pagamento!</h4>
              <p><a class="btn btn-light-intro no-radius" href="#contacts" data-scroll="true">Saiba Mais!</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="title text-center">
            <h1>BOOMFIT - Nº1 FITNESS STORE!</h1>
            <hr>
          </div>
          <div class="section-content text-center">
            <p class="fw-300 font-20">BoomFit é uma marca de equipamentos fitness, com produção própria que se compromete a satisfazer da melhor forma as necessidades do mercado Fitness, trabalhamos com os mais variados espaços desportivos, como Clubes de Futebol, Ginásios, Escolas, Estúdios… entre outros.
              Dedicação, dinamismo e competência são algumas das características que fazem desta loja a nº1 de Fitness da Europa!</p>
              <p>
                <center><a class="btn btn-light-intro no-radius" href="#contacts" data-scroll="true">Contacte-nos!</a></center>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="dark-bg p-0">
      <div class="container-fluid">
        <div class="row row-flex">
          <div class="col-sm-4">
            <div class="column-inner with-padding">
              <div class="icon-box align-center" data-animation="fadeInUp"><i class="hc-euro-alt"></i>
                <div class="ib-content">
                  <h4>Facilidade de Pagamento!</h4>
                  <p class="fw-300">O BoomFit ajuda-o a concretizar os seus planos! Métodos de pagamento a pensar em si! Feitos à medida!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.2)">
              <div class="icon-box align-center" data-animation="fadeInUp" data-delay="300"><i class="fas fa-truck"></i>
                <div class="ib-content">
                  <h4>Entregas em 48H!</h4>
                  <p class="fw-300">Uma equipa que trabalha todos os dias para que os equipamentos cheguem até si com a maior brevidade possível.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.4)">
              <div class="icon-box align-center" data-animation="fadeInUp" data-delay="600"><i class="fas fa-coins"></i>
                <div class="pb-10"></div>
                <div class="ib-content">
                  <h4>Preço mais baixo da Europa!</h4>
                  <p class="fw-300">Garantimos os preços mais baixos aliados a produtos de elevada qualidade!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="partners" class="portfolio">
      <div class="container">
        <div class="title text-center">
          <h1>Parcerias</h1>
          <hr>
        </div>
      </div>
    </section>
    <section class="white-bg p-0">
      <div class="container-fluid">
        <div class="row pt-10 pb-10 pl-10 pr-10">
          <div class="enable-animation four-col" id="works-grid">
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/1.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Marcelo Mendes</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/2.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>João Sampaio</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/3.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Luis Fontes</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/4.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Ines Lopes</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/5.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Nuno Silva</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/6.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Tiago Carvalho</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/7.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Margarida Mègre</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="work-item">
              <div class="work-detail">
                <a>
                  <img src="/img/8.png" alt="">
                  <div class="work-info">
                    <div class="centrize">
                      <div class="v-center">
                        <h3>Duarte Antunes</h3>
                        <p>Personal Trainer</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="clients">
      <div class="container">
        <div class="title text-center">
          <h1>Clientes</h1>
          <hr>
        </div>
        <div class="row pt-25 pb-25">
          <div class="client-carousel carousel" data-slick="{&quot;slidesToShow&quot;: 6, &quot;dots&quot;: false}">
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente1.png" alt="">
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente2.png" alt="">
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente3.png" alt="">
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente4.png" alt="">
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente5.png" alt="">
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <img src="/img/cliente6.png" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contacts" id="contacts" class="split-section section-bordered">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 map-side map-right">
            <div id="map" data-lat="41.3731315" data-long="-8.544687199999998"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-md-4 col-sm-12 col-md-offset-1">
          <div class="title text-center">
            <h1>Solicite mais informações!</h1>
            <h4>Vamos trabalhar juntos.</h4>
            <hr>
          </div>
          <div class="section-content">
            {% macro errorList(errors) %}
            {% if errors %}
            <ul class="errors">
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endmacro %}
            {% from _self import errorList %}

            <!-- MENSAGENS  -->
            {% if craft.app.session.hasFlash('wheelformSuccess') %}
            <p class="message success text-center bg-danger text-white">Obrigado! Entraremos em contacto brevemente</p>
            {% elseif craft.app.session.hasFlash('wheelformError') %}
            <p class="message error text-center  bg-danger text-white">Ocorreu um erro</p>
            {% endif %}

            {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
            <form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="wheelform/message/send">
              <input type="hidden" name="form_id" value="3">
              <input type="hidden" name="redirect" value="{{ '/pt/#contacts'|hash }}">

              <!-- NOME -->
              <input class="form-control" placeholder="Nome" name="field_1" type="text" id="name" value="{{ values['field_1'] ?? '' }}">
              {{ wheelformErrors['field_1'] is defined ? errorList(wheelformErrors['field_1']) }}

              <!-- EMAIL -->
              <input class="form-control" placeholder="Email" name="field_2" type="text" id="phone-number" value="{{ values['field_2'] ?? '' }}">
              {{ wheelformErrors['field_2'] is defined ? errorList(wheelformErrors['field_2']) }}

              <!-- TELEMOVEL -->
              <input class="form-control" placeholder="Telemóvel" name="field_3" type="email" id="email" value="{{ values['field_3'] ?? '' }}">
              {{ wheelformErrors['field_3'] is defined ? errorList(wheelformErrors['field_3']) }}

              <!-- LOCALIDADE -->
              <input class="form-control" placeholder="Localidade" name="field_4" type="text" id="city-id" value="{{ values['field_4'] ?? '' }}">
              {{ wheelformErrors['field_4'] is defined ? errorList(wheelformErrors['field_4']) }}

              <!-- MENSAGEM -->
              <textarea class="form-control" placeholder="Escreva aqui a sua mensagem" name="field_5" id="custom-data">{{ values['field_5'] ?? '' }}</textarea>
              {{ wheelformErrors['field_5'] is defined ? errorList(wheelformErrors['field_5']) }}

              <!-- Consent -->
              <br>
              <p class="consent-copy">Os seus dados pessoais serão tratados, pela entidade World Fit Online Lda, para efeitos comerciais, até 60 dias após a validade da promoção.</p>
              <p class="consent-copy">Concordo ser contactado pela entidade World Fit Online Lda, para envio das suas informações, ofertas e promoções, durante 24 meses ou 24 meses após último contacto, através de:</p>

              <!-- checkbox E-mail -->
              <div class="input checkbox">
                <input type="hidden" name="field_7" value="{{ values['field_7'] ?? '0' }}">
                <label for="lead-opt-in-email">
                  <input type="checkbox" name="field_7" value="{{ values['field_7'] ?? '1' }}" id="lead-opt-in-email">EMAIL</label>
                </div>

                <!-- checkbox SMS -->
                <div class="input checkbox">
                  <input type="hidden" name="field_8" value="{{ values['field_8'] ?? '0' }}">
                  <label for="lead-opt-in-sms">
                    <input type="checkbox" name="field_8" value="{{ values['field_8'] ?? '1' }}" id="lead-opt-in-email">SMS</label>
                  </div>

                  <!-- ENVIAR  -->
                  <input class="btn btn-light-intro no-radius mt-25" type="submit" value="Enviar Mensagem!">
                  <!-- Thank you or Error Text on form submission -->
                  <div id="form-messages"></div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="p-0">
          <div class="container-fluid">
            <div class="row row-flex">
              <div class="col-sm-4">
                <div class="column-inner with-padding white-bg">
                  <div class="icon-box align-center"><i class="hc-pin"></i>
                    <div class="ib-content">
                      <h3>Morada</h3>
                      <p>Rua do Progresso nº29 <br>4780-841 Vilarinho das Cambas,<br> Vila Nova de Famalicão</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="column-inner with-padding grey-bg">
                  <div class="icon-box align-center"><i class="hc-mail-open"></i>
                    <div class="ib-content">
                      <h3>E-mail</h3>
                      <p>info@boomfit.eu</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="column-inner with-padding dark-bg">
                  <div class="icon-box align-center"><i class="hc-phone-portrait"></i>
                    <div class="ib-content">
                      <h3>Contactos</h3>
                      <p>+351 918 601 806</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </body>
    {% endblock %}
