{% extends 'studio/fr/layout' %}
{% block main %}
<body>
  <section id="home">
    <div id="home-slider">
      <div class="slide-item">
       {% set myEntryQuery = craft.entries()
          .section('topostudio')
          .site('studioFr') %}

          {# Fetch the entries #}
          {% set topostudio = myEntryQuery.all() %}

          {# Display the entries #}
          {% for studio in topostudio %}
        <img src={{studio.background.first().getUrl}} alt="">
        <div class="slide-wrap">
          <div class="slide-content">
            <div class="container">
              <h1 class="upper" id="h1home">{{studio.tituloStudio}}</h1>
              <h4>{{studio.descricaostudio}}</h4>
              <p><a class="btn btn-light-intro no-radius" href={{studio.botaourlstudio}} data-scroll="true">{{studio.textobotaostudio}}</a>
              </p>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
    </div>
  </section>
  <section id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="title text-center">
            <h1>BOOMFIT - Nº1 FITNESS STORE!</h1>
            <hr>
          </div>
          <div class="section-content text-center">
           {% set myEntryQuery = craft.entries()
          .section('apresentacaostudio')
          .site('studioFr') %}

          {# Fetch the entries #}
          {% set apresentacaostudio = myEntryQuery.all() %}

          {# Display the entries #}
          {% for apresentacao in apresentacaostudio %}
            <p class="fw-300 font-20">{{apresentacao.apresentacaostudio}}</p>
            {% endfor %}
              <p>
                <center><a class="btn btn-light-intro no-radius" href="#contacts" data-scroll="true">contactez nous!</a></center>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="dark-bg p-0">
    <div class="container-fluid">
      <div class="row row-flex">
        <div class="col-sm-4">
          <div class="column-inner with-padding">
            <div class="icon-box align-center" data-animation="fadeInUp"><i class="hc-euro-alt"></i>
              <div class="ib-content">
                <h4 >OBTENEZ VOTRE BUDGET EN 24H!</h4>
                <p class="fw-300">Boomfit vous aide à réaliser vos projets! Tout est ajusté à vous!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.2)">
            <div class="icon-box align-center" data-animation="fadeInUp" data-delay="300"><i class="fas fa-truck"></i>
              <div class="ib-content">
                <h4 >LIVRAISONS EN 48H!</h4>
                <p class="fw-300">L’équipe qui travaille tous les jours pour que l’équipement vous permette de remporter le temps le plus rapide.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.4)">
            <div class="icon-box align-center" data-animation="fadeInUp" data-delay="600"><i class="fas fa-coins"></i>
              <div class="ib-content">
                <h4 >PRIX LES PLUS BAS EN EUROPE!</h4>
                <p class="fw-300">Nous garantissons les prix les plus bas alliés à des produits de haute qualité!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <section id="partners" class="portfolio">
    <div class="container">
      <div class="title text-center">
        <h1>Partenariats</h1>
        <hr>
      </div>
    </div>
  </section>
  <section class="white-bg p-0">
    <div class="container-fluid">
      <div class="row pt-10 pb-10 pl-10 pr-10">
        <div class="enable-animation four-col" id="works-grid">

        {% set myEntryQuery = craft.entries()
          .section('parcerias')
          .site('studioFr') %}

          {# Fetch the entries #}
          {% set parcerias = myEntryQuery.all() %}

          {# Display the entries #}
          {% for par in parcerias %}

          <div class="work-item">
            <div class="work-detail">
              <a>
                <img src={{par.fotoparceria.first().getUrl}} alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>{{par.nome}}</h3>
                      <p>{{par.cargo}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="clients">
    <div class="container">
      <div class="title text-center">
        <h1>Les Clients</h1>
        <hr>
      </div>
      <div class="row pt-25 pb-25">
        <div class="client-carousel carousel" data-slick="{&quot;slidesToShow&quot;: 6, &quot;dots&quot;: false}">
           {% set myEntryQuery = craft.entries()
          .section('clientesstudio')
          .site('studioFr') %}

          {# Fetch the entries #}
          {% set clientesstudio = myEntryQuery.all() %}

          {# Display the entries #}
          {% for clientes in clientesstudio %}
          <div class="carousel-item">
            <figure>
              <img src={{clientes.fotoclientesstudio.first().getUrl}} alt="">
            </figure>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
<section class="contacts" id="contacts" class="split-section section-bordered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 map-side map-right">
          <div id="map" data-lat="41.3731315" data-long="-8.544687199999998"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-5 col-sm-12" id="formulario">
          <div class="title text-center">
            <h1 id="h1home">Demander plus d'informations!</h1>
            <h4 class="">Travaillons ensemble.</h4>
            <hr>
          </div>
          <div class="section-content">
            <!-- FORMULARIO -->

            {% from _self import errorList %}

            {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}

            <!-- MENSAGENS  -->
            {% if craft.app.session.hasFlash('wheelformSuccess') %}
            <p class="message success text-center bg-danger text-white">Obrigado! A sua mensagem será analisada em breve!</p>
            {% elseif craft.app.session.hasFlash('wheelformError') %}
            <p class="message error text-center  bg-danger text-white">Ocorreu um erro ao enviar a sua mensagem!</p>
            {% endif %}
            <!-- ========================================================= -->

            <form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="wheelform/message/send">
              <input type="hidden" name="form_id" value="1">
              <input type="hidden" name="redirect" value="{{ '/fr/#contacts'|hash }}">

              <!-- NOME -->
              <input class="form-control" placeholder="Prénom" name="field_1" type="text" id="name" value="{{ values['field_1'] ?? '' }}" required>
              {{ wheelformErrors['field_1'] is defined ? errorList(wheelformErrors['field_1']) }}
              <br>
              <!-- TELEMOVEL -->
              <input class="form-control" placeholder="Téléphone Portable" name="field_3" type="email" id="email" value="{{ values['field_3'] ?? '' }}" required>
              {{ wheelformErrors['field_3'] is defined ? errorList(wheelformErrors['field_3']) }}
              <br>
              <!-- EMAIL -->
              <input class="form-control" placeholder="Email" name="field_2" type="text" id="phone-number" value="{{ values['field_2'] ?? '' }}" required>
              {{ wheelformErrors['field_2'] is defined ? errorList(wheelformErrors['field_2']) }}
              <br>
              <!-- LOCALIDADE -->
              <input class="form-control" placeholder="Emplacement" name="field_4" type="text" id="city-id" value="{{ values['field_4'] ?? '' }}" required>
              {{ wheelformErrors['field_4'] is defined ? errorList(wheelformErrors['field_4']) }}
              <br>
              <!-- MESNSAGEM -->
              <textarea class="form-control" placeholder="Écrivez ici votre message" name="field_5" id="custom-data">{{ values['field_5'] ?? '' }}</textarea>
              {{ wheelformErrors['field_5'] is defined ? errorList(wheelformErrors['field_5']) }}

              <!-- INFORMACAO -->
              <br>
              <p class="consent-copy">Vos données personnelles seront traitées par l'entité World Fit Online Lda, à des fins commerciales, jusqu'à 60 jours après la validité de la promotion.</p>
              <p class="consent-copy">J'accepte d'être contacté par l'entité World Fit Online Lda, pour l'envoi de vos informations, offres et promotions, pendant 24 mois ou 24 mois après le dernier contact, via:</p>
              <!-- CHECKBOXS -->
              <label><input type="checkbox" name="field_6" value="EMAIL">EMAIL</label>
              <br>
              <label><input type="checkbox" name="field_6" value="SMS">SMS</label>
              <br>
              <br>
              <!-- ENVIAR  -->
              <input class="btn btn-light-intro no-radius" type="submit" value="Envoyer le message!" id="btnmensagem">
            </form>
            <!-- ==================================================== -->
            <div id="form-messages"></div>
          </form>
        </div>
      </div>
  </div>
</section>
<!-- ===========================================================  -->
<section class="p-0">
  <div class="container-fluid">
    <div class="row row-flex">
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding white-bg">
          <div class="icon-box align-center"><i class="hc-pin"></i>
            <div class="ib-content">
              <h3>Adresse</h3>
              <p>Rua do Progresso nº29 <br>4780-841 Vilarinho das Cambas,<br> Vila Nova de Famalicão</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding grey-bg">
          <div class="icon-box align-center"><i class="hc-mail-open"></i>
            <div class="ib-content">
              <h3>E-mail</h3>
              <p>info@boomfit.eu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding dark-bg">
          <div class="icon-box align-center"><i class="hc-phone-portrait"></i>
            <div class="ib-content">
              <h3>Contact</h3>
              <p>+351 918 601 806</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}
