{% extends 'layout' %}
{% block main %}
<!-- WHEEL FORM -->
{% macro errorList(errors) %}
{% if errors %}
<ul class="errors">
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}
<!-- ========================================================= -->

<body>
  <section id="home">
    <div id="home-slider">
      <div class="slide-item">
       {% set myEntryQuery = craft.entries()
          .siteId(craft.app.sites.currentSite.id).section('topopersonal') %}

          {# Fetch the entries #}
          {% set topopersonal = myEntryQuery.all() %}

          {# Display the entries #}
          {% for personal in topopersonal %}
        <img src={{personal.backgroundpersonal.first().getUrl}} alt="">
        <div class="slide-wrap">
          <div class="slide-content">
            <div class="container">
              <h1 class="upper" id="h1home">{{personal.titulopersonal}}</h1>
              <h4>{{personal.descricaopersonal}}</h4>
              <p><a class="btn btn-light-intro no-radius" href={{personal.botaourlpersonal}} data-scroll="true">{{personal.textobotaopersonal}}</a>
              </p>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
    </div>
  </section>
  <section id="introduction">
    <!-- SECCAO ESQUERDA -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="/images/cartoes.png" class="img-fuild" id="cartoes">
        </div>
        <!-- SECCAO DIREITA -->
         <div class="col-md-6 text-left mt-2">
          <h5 class="colored-text text-center">Nº1 Fitness Store</h5>
          <h3 class="text-center">BOOMFIT OFICIAL PT - Vantagens Exclusivas</h3>
          <br>
           {% set myEntryQuery = craft.entries()
          .section('vantagenspersonal') %}

          {# Fetch the entries #}
          {% set vantagenspersonal = myEntryQuery.all() %}

          {# Display the entries #}
          {% for vantagens in vantagenspersonal %}
          <div class="text-center">
            <p style="padding-top:14px;">{{vantagens.vantagenspersonal}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- ==================================================  -->
  <section class="dark-bg p-0">
    <div class="container-fluid">
      <div class="row row-flex">
        <div class="col-sm-4">
          <div class="column-inner with-padding">
            <div class="icon-box align-center" data-animation="fadeInUp"><i class="fas fa-check"></i>
              <div class="ib-content">
                <br>
                <h4 class="">Verified Reviews!</h4>
                <p class="fw-300">Our equipments are tested and used by professionals.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.2)">
            <div class="icon-box align-center" data-animation="fadeInUp" data-delay="300"><i class="fas fa-truck"></i>
              <div class="ib-content">
                <br>
                <h4 class="">Delivery in 48H!</h4>
                <p class="fw-300">A team that works every day to get the equipment to you as soon as possible.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.4)">
            <div class="icon-box align-center" data-animation="fadeInUp" data-delay="600"><i class="fas fa-coins"></i>
              <div class="ib-content">
                <br>
                <h4 class="">The lowest price of the Europe!</h4>
                <p class="fw-300">We guarantee the lowest prices allied to high quality products!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="partners" class="portfolio">
      <div class="container">
        <div class="title text-center">
          <h1>Partnerships</h1>
          <hr>
        </div>
      </div>
    </section>
      <section class="white-bg p-0">
    <div class="container-fluid">
      <div class="row pt-10 pb-10 pl-10 pr-10">
        <div class="enable-animation four-col" id="works-grid">

        {% set myEntryQuery = craft.entries()
          .section('parceriaspt') %}

          {# Fetch the entries #}
          {% set parceriaspt = myEntryQuery.all() %}

          {# Display the entries #}
          {% for parceria in parceriaspt %}

          <div class="work-item">
            <div class="work-detail">
              <a>
                <img src={{parceria.fotopt.first().getUrl}} alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>{{parceria.nomePT}}</h3>
                      <p>{{parceria.cargoPT}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="contacts" id="contacts" class="split-section section-bordered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 map-side map-right">
          <div id="map" data-lat="41.3731315" data-long="-8.544687199999998"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-5 col-sm-12" id="formulario">
        <div class="title text-center">
          <h1 id="h1home">Ask for more information!</h1>
          <h4 class="">Let's work together</h4>
          <hr>
        </div>
        <div class="section-content">
          <!-- FORMULARIO -->

          {% from _self import errorList %}

          {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}

          <!-- MENSAGENS  -->
          {% if craft.app.session.hasFlash('wheelformSuccess') %}
          <p class="message success text-center bg-danger text-white">Thank you! We'll see your messagen soon!</p>
          {% elseif craft.app.session.hasFlash('wheelformError') %}
          <p class="message error text-center  bg-danger text-white">Ops! An error has occurred.</p>
          {% endif %}
          <!-- ========================================================= -->

          <form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="wheelform/message/send">
            <input type="hidden" name="form_id" value="6">
            <input type="hidden" name="redirect" value="{{ '/en/#contacts'|hash }}">

            <!-- NOME -->
            <input class="form-control" placeholder="Name" name="field_1" type="text" id="name" value="{{ values['field_1'] ?? '' }}">
            {{ wheelformErrors['field_1'] is defined ? errorList(wheelformErrors['field_1']) }}
            <br>
            <!-- TELEMOVEL -->
            <input class="form-control" placeholder="Mobile Phone" name="field_2" type="email" id="email" value="{{ values['field_2'] ?? '' }}">
            {{ wheelformErrors['field_2'] is defined ? errorList(wheelformErrors['field_2']) }}
            <br>
            <!-- EMAIL -->
            <input class="form-control" placeholder="Email" name="field_3" type="text" id="phone-number" value="{{ values['field_3'] ?? '' }}">
            {{ wheelformErrors['field_3'] is defined ? errorList(wheelformErrors['field_3']) }}
            <br>
            <!-- LOCALIDADE -->
            <input class="form-control" placeholder="Location" name="field_4" type="text" id="city-id" value="{{ values['field_4'] ?? '' }}">
            {{ wheelformErrors['field_4'] is defined ? errorList(wheelformErrors['field_4']) }}
            <br>
            <!-- MESNSAGEM -->
            <textarea class="form-control" placeholder="Write here your message" name="field_5" id="custom-data">{{ values['field_5'] ?? '' }}</textarea>
            {{ wheelformErrors['field_5'] is defined ? errorList(wheelformErrors['field_5']) }}

            <!-- INFORMACAO -->
            <br>
            <p class="consent-copy">Your personal data will be processed by the entity World Fit Online Lda, for commercial purposes, up to 60 days after the validity of the promotion.</p>
            <p class="consent-copy">I agree to be contacted by the entity World Fit Online Lda, for sending your information, offers and promotions, for 24 months or 24 months after last contact, through:</p>
            <!-- CHECKBOXS -->
            <label><input type="checkbox" name="field_6" value="EMAIL">EMAIL</label>
            <br>
            <label><input type="checkbox" name="field_6" value="SMS">SMS</label>
            <br>
            <br>
            <!-- ENVIAR  -->
            <input class="btn btn-light-intro no-radius" type="submit" value="Send Message!" id="btnmensagem">
          </form>
          <!-- ==================================================== -->
          <div id="form-messages"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ===========================================================  -->
<section class="p-0">
  <div class="container-fluid">
    <div class="row row-flex">
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding white-bg">
          <div class="icon-box align-center"><i class="hc-pin"></i>
            <div class="ib-content">
              <h3>Address</h3>
              <p>Rua do Progresso nº29 <br>4780-841 Vilarinho das Cambas,<br> Vila Nova de Famalicão</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding grey-bg">
          <div class="icon-box align-center"><i class="hc-mail-open"></i>
            <div class="ib-content">
              <h3>E-mail</h3>
              <p>info@boomfit.eu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-4">
        <div class="column-inner with-padding dark-bg">
          <div class="icon-box align-center"><i class="hc-phone-portrait"></i>
            <div class="ib-content">
              <h3>Contact</h3>
              <p>+351 918 601 806</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}
